<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 开始mybatis的二级缓存 -->
    <settings>
        <setting name="cacheEnabled" value="true" />
    </settings>
    <!-- 实体类取别名 -->
    <typeAliases>
        <package name="com.gly.uppis.*.entity"/>
    </typeAliases>
</configuration>