<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gly.uppis.common.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.gly.uppis.common.entity.Dept">
    <id column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="parent_dept_id" jdbcType="INTEGER" property="parentDeptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_info" jdbcType="VARCHAR" property="deptInfo" />
    <result column="master_id" jdbcType="INTEGER" property="masterId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    dept_id, parent_dept_id, dept_name, dept_info, master_id, create_time, creator, update_time, 
    is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dept
    where dept_id = #{deptId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dept
    where dept_id = #{deptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gly.uppis.common.entity.Dept">
    insert into dept (dept_id, parent_dept_id, dept_name, 
      dept_info, master_id, create_time, 
      creator, update_time, is_delete
      )
    values (#{deptId,jdbcType=INTEGER}, #{parentDeptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{deptInfo,jdbcType=VARCHAR}, #{masterId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gly.uppis.common.entity.Dept">
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="parentDeptId != null">
        parent_dept_id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="deptInfo != null">
        dept_info,
      </if>
      <if test="masterId != null">
        master_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="parentDeptId != null">
        #{parentDeptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptInfo != null">
        #{deptInfo,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null">
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gly.uppis.common.entity.Dept">
    update dept
    <set>
      <if test="parentDeptId != null">
        parent_dept_id = #{parentDeptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptInfo != null">
        dept_info = #{deptInfo,jdbcType=VARCHAR},
      </if>
      <if test="masterId != null">
        master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gly.uppis.common.entity.Dept">
    update dept
    set parent_dept_id = #{parentDeptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      dept_info = #{deptInfo,jdbcType=VARCHAR},
      master_id = #{masterId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT}
    where dept_id = #{deptId,jdbcType=INTEGER}
  </update>
</mapper>